.table-content {
	margin-bottom: 0;
	padding-left: 20px;
}

.table-content .table-content {
	list-style: lower-latin;
}

.table-content .table-content .table-content {
	list-style: disc;
}

.box-table-nav {
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
}

.box-table-nav nav {
	background-color: #f8f8f8;
	padding: 10px 10px 15px;
	border-top: 1px solid #ddd;
}

.box-table-nav nav > ol > li::marker {
	font-weight: 600;
}

.box-table-nav nav > ol > li > a {
	font-weight: 600;
}

.box-table-nav nav > ol > li ol a.table-link {
	font-size: 13px;
}

.box-table-fixed nav {
	padding: 10px 10px 15px;
}

.box-table-fixed nav > ol > li::marker {
	font-weight: 600;
}

.box-table-fixed nav > ol > li > a {
	font-weight: 600;
}

.box-table-fixed nav > ol > li ol a.table-link {
	font-size: 13px;
}

.title-table-navigation {
	padding: 10px 10px 7px;
	margin-bottom: 0;
	border-radius: 5px 5px 0 0;
	position: relative;
}

.title-table-navigation i {
	font-size: 26px;
	padding-right: 5px;
	vertical-align: top;
}

.box-table-fixed {
	position: fixed;
	top: 20%;
	z-index: 9;
	border: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
}

.box-table-fixed nav {
	width: 200px;
	padding: 10px 10px 15px;
	border-top: 1px solid #ddd;
	background: #f8f8f8;
}

.box-table-fixed .title-table-navigation {
	cursor: pointer;
	background-color: #fff;
}

.box-table-fixed .icon-expand {
	display: none;
}

.table-content-section {
	margin-bottom: 30px;
}

a.table-link {
	height: 100%;
	display: block;
	padding: 2px 0;
}

a.table-link.is-active-link {
	color: #c33;
}

a.table-link:hover {
	color: #c33;
}

.icon-expand {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.icon-expand::before {
	content: '\e92d';
	font-family: 'iconsax';
}

li.is-active-li::marker {
	color: #c33;
}

.table-content-icon {
	position: fixed;
	top: 20%;
	right: calc(50% - 640px);
	font-size: 24px;
	display: block;
	line-height: 38px;
	text-align: center;
	width: 38px;
	background-color: #fff;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	border: 1px solid #ddd;
	z-index: 9;
}

.table-content-icon:hover {
	background-color: #f8f8f8;
	color: #333;
}

.table-content-icon {
	right: calc(50% - 160px);
}

.box-table-fixed {
	right: calc(50% - 160px);
}

@media (min-width: 576px) {
	.table-content-icon {
		right: calc(50% - 300px);
	}

	.box-table-fixed {
		right: calc(50% - 300px);
	}
}

@media (min-width: 768px) {
	.table-content-icon {
		right: calc(50% - 395px);
	}

	.box-table-fixed {
		right: calc(50% - 395px);
	}
}

@media (min-width: 992px) {
	.table-content-icon {
		right: calc(50% - 515px);
	}

	.box-table-fixed {
		right: calc(50% - 515px);
	}
}

@media (min-width: 1200px) {
	.table-content-icon {
		right: calc(50% - 640px);
	}

	.box-table-fixed {
		right: calc(50% - 800px);
	}
}

@media (min-width: 1200px) and (max-width: 1400px) {
	.box-table-fixed {
		right: calc(50% - 620px);
	}

	.table-content-icon {
		right: calc(50% - 620px);
	}
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiY2F0YWxvZ3VlLmNzcyIsInNvdXJjZXMiOlsiY2F0YWxvZ3VlLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLnRhYmxlLWNvbnRlbnR7XHJcblx0bWFyZ2luLWJvdHRvbTogMDtcclxuXHRwYWRkaW5nLWxlZnQ6IDIwcHg7XHJcblx0LnRhYmxlLWNvbnRlbnQge1xyXG5cdFx0bGlzdC1zdHlsZTogbG93ZXItbGF0aW47XHJcblx0XHQudGFibGUtY29udGVudCB7XHJcblx0XHRcdGxpc3Qtc3R5bGU6IGRpc2M7XHJcblx0XHR9XHJcblx0fVxyXG59XHJcbi5ib3gtdGFibGUtbmF2e1xyXG5cdHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuXHRvdmVyZmxvdzogaGlkZGVuO1xyXG5cdGJvcmRlcjogMXB4IHNvbGlkICNkZGQ7XHJcblx0Ym9yZGVyLXJhZGl1czogNXB4IDVweCAwIDA7XHJcblx0bmF2IHtcclxuXHRcdGJhY2tncm91bmQtY29sb3I6ICNmOGY4Zjg7XHJcblx0XHRwYWRkaW5nOiAxMHB4IDEwcHggMTVweDtcclxuXHRcdGJvcmRlci10b3A6IDFweCBzb2xpZCAjZGRkO1xyXG5cdFx0Pm9se1xyXG5cdFx0XHQ+bGl7XHJcblx0XHRcdFx0Jjo6bWFya2Vye1xyXG5cdFx0XHRcdFx0Zm9udC13ZWlnaHQ6IDYwMDtcclxuXHRcdFx0XHR9XHJcblx0XHRcdFx0PmEge1xyXG5cdFx0XHRcdFx0Zm9udC13ZWlnaHQ6IDYwMDtcclxuXHRcdFx0XHR9XHJcblx0XHRcdFx0b2wge1xyXG5cdFx0XHRcdFx0YS50YWJsZS1saW5rIHtcclxuXHRcdFx0XHRcdFx0Zm9udC1zaXplOiAxM3B4O1xyXG5cdFx0XHRcdFx0fVxyXG5cdFx0XHRcdH1cclxuXHRcdFx0fVxyXG5cdFx0fVxyXG5cdH1cclxufVxyXG4uYm94LXRhYmxlLWZpeGVke1xyXG5cdG5hdiB7XHJcblx0XHRwYWRkaW5nOiAxMHB4IDEwcHggMTVweDtcclxuXHRcdD5vbHtcclxuXHRcdFx0Pmxpe1xyXG5cdFx0XHRcdCY6Om1hcmtlcntcclxuXHRcdFx0XHRcdGZvbnQtd2VpZ2h0OiA2MDA7XHJcblx0XHRcdFx0fVxyXG5cdFx0XHRcdD5hIHtcclxuXHRcdFx0XHRcdGZvbnQtd2VpZ2h0OiA2MDA7XHJcblx0XHRcdFx0fVxyXG5cdFx0XHRcdG9sIHtcclxuXHRcdFx0XHRcdGEudGFibGUtbGluayB7XHJcblx0XHRcdFx0XHRcdGZvbnQtc2l6ZTogMTNweDtcclxuXHRcdFx0XHRcdH1cclxuXHRcdFx0XHR9XHJcblx0XHRcdH1cclxuXHRcdH1cclxuXHR9XHJcbn1cclxuLnRpdGxlLXRhYmxlLW5hdmlnYXRpb24ge1xyXG5cdHBhZGRpbmc6IDEwcHggMTBweCA3cHg7XHJcblx0bWFyZ2luLWJvdHRvbTogMDtcclxuXHRib3JkZXItcmFkaXVzOiA1cHggNXB4IDAgMDtcclxuXHRwb3NpdGlvbjpyZWxhdGl2ZTtcclxuXHRcclxuXHRpIHtcclxuXHRcdGZvbnQtc2l6ZTogMjZweDtcclxuXHQgICAgcGFkZGluZy1yaWdodDogNXB4O1xyXG5cdCAgICB2ZXJ0aWNhbC1hbGlnbjogdG9wO1xyXG5cdH1cclxufVxyXG4uYm94LXRhYmxlLWZpeGVke1xyXG5cdHBvc2l0aW9uOiBmaXhlZDtcclxuXHR0b3A6IDIwJTtcclxuXHR6LWluZGV4OiA5O1xyXG5cdGJvcmRlcjogMXB4IHNvbGlkICNkZGQ7XHJcblx0Ym9yZGVyLXJhZGl1czogNXB4IDVweCAwIDA7XHJcblx0bmF2e1xyXG5cdFx0d2lkdGg6IDIwMHB4O1xyXG5cdFx0cGFkZGluZzogMTBweCAxMHB4IDE1cHg7XHJcblx0XHRib3JkZXItdG9wOiAxcHggc29saWQgI2RkZDtcclxuXHRcdGJhY2tncm91bmQ6ICNmOGY4Zjg7XHJcblx0fVxyXG5cdC50aXRsZS10YWJsZS1uYXZpZ2F0aW9uIHtcclxuXHRcdGN1cnNvcjogcG9pbnRlcjtcclxuXHRcdGJhY2tncm91bmQtY29sb3I6I2ZmZjtcclxuXHR9XHJcblx0Lmljb24tZXhwYW5kIHtcclxuXHRcdGRpc3BsYXk6IG5vbmU7XHJcblx0fVxyXG59XHJcbi50YWJsZS1jb250ZW50LXNlY3Rpb257XHJcblx0bWFyZ2luLWJvdHRvbTogMzBweDtcclxufVxyXG5hLnRhYmxlLWxpbmt7XHJcblx0aGVpZ2h0OiAxMDAlO1xyXG4gICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICBwYWRkaW5nOiAycHggMDtcclxuICAgICYuaXMtYWN0aXZlLWxpbmt7XHJcbiAgICBcdGNvbG9yOiAjYzMzO1xyXG4gICAgfVxyXG4gICAgJjpob3ZlciB7XHJcbiAgICBcdGNvbG9yOiAjYzMzO1xyXG4gICAgfVxyXG59XHJcblxyXG4uaWNvbi1leHBhbmQge1xyXG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuXHRyaWdodDogMTBweDtcclxuXHR0b3A6IDUwJTtcclxuXHR0cmFuc2Zvcm06IHRyYW5zbGF0ZVkoLTUwJSk7XHJcblx0Y3Vyc29yOiBwb2ludGVyO1xyXG5cdCY6OmJlZm9yZXtcclxuXHRcdGNvbnRlbnQ6ICdcXGYxMDcnO1xyXG5cdFx0Zm9udC1mYW1pbHk6IExpbmUgQXdlc29tZSBGcmVlO1xyXG5cdFx0Zm9udC13ZWlnaHQ6IDkwMDtcclxuXHR9XHJcbn1cclxubGl7XHJcblx0Ji5pcy1hY3RpdmUtbGkge1xyXG5cdFx0Jjo6bWFya2Vye1xyXG5cdFx0XHRjb2xvcjogI2MzMztcclxuXHRcdH1cclxuXHR9XHJcbn1cclxuLnRhYmxlLWNvbnRlbnQtaWNvbntcclxuXHRwb3NpdGlvbjogZml4ZWQ7XHJcblx0dG9wOiAyMCU7XHJcblx0cmlnaHQ6IGNhbGMoNTAlIC0gNjQwcHgpO1xyXG5cdGZvbnQtc2l6ZTogMjRweDtcclxuXHRkaXNwbGF5OiBibG9jaztcclxuXHRsaW5lLWhlaWdodDogMzhweDtcclxuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XHJcblx0d2lkdGg6IDM4cHg7XHJcblx0YmFja2dyb3VuZC1jb2xvcjojZmZmO1xyXG5cdGJvcmRlci1yYWRpdXM6IDVweDtcclxuXHRjb2xvcjogIzMzMztcclxuXHRjdXJzb3I6IHBvaW50ZXI7XHJcblx0Ym9yZGVyOiAxcHggc29saWQgI2RkZDtcclxuXHR6LWluZGV4OiA5O1xyXG5cdCY6aG92ZXIge1xyXG5cdFx0YmFja2dyb3VuZC1jb2xvcjojZjhmOGY4O1xyXG5cdFx0Y29sb3I6ICMzMzM7XHJcblx0fVxyXG59XHJcblxyXG4udGFibGUtY29udGVudC1pY29ue1xyXG5cdHJpZ2h0OiBjYWxjKDUwJSAtIDE2MHB4KTtcclxufVxyXG4uYm94LXRhYmxlLWZpeGVke1xyXG5cdHJpZ2h0OiBjYWxjKDUwJSAtIDE2MHB4KTtcclxufVxyXG5AbWVkaWEgKG1pbi13aWR0aDogNTc2cHgpIHtcclxuICBcdC50YWJsZS1jb250ZW50LWljb257XHJcblx0XHRyaWdodDogY2FsYyg1MCUgLSAzMDBweCk7XHJcblx0fVxyXG5cdC5ib3gtdGFibGUtZml4ZWR7XHJcblx0XHRyaWdodDogY2FsYyg1MCUgLSAzMDBweCk7XHJcblx0fVxyXG59XHJcbkBtZWRpYSAobWluLXdpZHRoOiA3NjhweCkge1xyXG5cdC50YWJsZS1jb250ZW50LWljb257XHJcblx0XHRyaWdodDogY2FsYyg1MCUgLSAzOTVweCk7XHJcblx0fVxyXG5cdC5ib3gtdGFibGUtZml4ZWR7XHJcblx0XHRyaWdodDogY2FsYyg1MCUgLSAzOTVweCk7XHJcblx0fVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIHtcclxuXHQudGFibGUtY29udGVudC1pY29ue1xyXG5cdFx0cmlnaHQ6IGNhbGMoNTAlIC0gNTE1cHgpO1xyXG5cdH1cclxuXHQuYm94LXRhYmxlLWZpeGVke1xyXG5cdFx0cmlnaHQ6IGNhbGMoNTAlIC0gNTE1cHgpO1xyXG5cdH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDEyMDBweCkge1xyXG5cdC50YWJsZS1jb250ZW50LWljb257XHJcblx0XHRyaWdodDogY2FsYyg1MCUgLSA2NDBweCk7XHJcblx0fVxyXG5cdC5ib3gtdGFibGUtZml4ZWR7XHJcblx0XHRyaWdodDogY2FsYyg1MCUgLSA4MDBweCk7XHJcblx0fVxyXG59XHJcbkBtZWRpYSAobWluLXdpZHRoOiAxMjAwcHgpIGFuZCAobWF4LXdpZHRoOiAxNDAwcHgpIHtcclxuXHQuYm94LXRhYmxlLWZpeGVkIHtcclxuXHQgICAgcmlnaHQ6IGNhbGMoNTAlIC0gNjIwcHgpO1xyXG5cdH1cdFxyXG5cdC50YWJsZS1jb250ZW50LWljb24ge1xyXG5cdCAgICByaWdodDogY2FsYyg1MCUgLSA2MjBweCk7XHJcblx0fVxyXG59XHJcbiJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxBQUFBLGNBQWMsQ0FBQTtFQUNiLGFBQWEsRUFBRSxDQUFDO0VBQ2hCLFlBQVksRUFBRSxJQUFJLEdBT2xCO0VBVEQsQUFHQyxjQUhhLENBR2IsY0FBYyxDQUFDO0lBQ2QsVUFBVSxFQUFFLFdBQVcsR0FJdkI7SUFSRixBQUtFLGNBTFksQ0FHYixjQUFjLENBRWIsY0FBYyxDQUFDO01BQ2QsVUFBVSxFQUFFLElBQUksR0FDaEI7O0FBR0gsQUFBQSxjQUFjLENBQUE7RUFDYixRQUFRLEVBQUUsUUFBUTtFQUNsQixRQUFRLEVBQUUsTUFBTTtFQUNoQixNQUFNLEVBQUUsY0FBYztFQUN0QixhQUFhLEVBQUUsV0FBVyxHQXFCMUI7RUF6QkQsQUFLQyxjQUxhLENBS2IsR0FBRyxDQUFDO0lBQ0gsZ0JBQWdCLEVBQUUsT0FBTztJQUN6QixPQUFPLEVBQUUsY0FBYztJQUN2QixVQUFVLEVBQUUsY0FBYyxHQWdCMUI7SUF4QkYsQUFVRyxjQVZXLENBS2IsR0FBRyxHQUlELEVBQUUsR0FDRCxFQUFFLEFBQ0YsUUFBUyxDQUFBO01BQ1IsV0FBVyxFQUFFLEdBQUcsR0FDaEI7SUFiTCxBQWNJLGNBZFUsQ0FLYixHQUFHLEdBSUQsRUFBRSxHQUNELEVBQUUsR0FJRCxDQUFDLENBQUM7TUFDRixXQUFXLEVBQUUsR0FBRyxHQUNoQjtJQWhCTCxBQWtCSyxjQWxCUyxDQUtiLEdBQUcsR0FJRCxFQUFFLEdBQ0QsRUFBRSxDQU9GLEVBQUUsQ0FDRCxDQUFDLEFBQUEsV0FBVyxDQUFDO01BQ1osU0FBUyxFQUFFLElBQUksR0FDZjs7QUFNTixBQUNDLGdCQURlLENBQ2YsR0FBRyxDQUFDO0VBQ0gsT0FBTyxFQUFFLGNBQWMsR0FnQnZCO0VBbEJGLEFBSUcsZ0JBSmEsQ0FDZixHQUFHLEdBRUQsRUFBRSxHQUNELEVBQUUsQUFDRixRQUFTLENBQUE7SUFDUixXQUFXLEVBQUUsR0FBRyxHQUNoQjtFQVBMLEFBUUksZ0JBUlksQ0FDZixHQUFHLEdBRUQsRUFBRSxHQUNELEVBQUUsR0FJRCxDQUFDLENBQUM7SUFDRixXQUFXLEVBQUUsR0FBRyxHQUNoQjtFQVZMLEFBWUssZ0JBWlcsQ0FDZixHQUFHLEdBRUQsRUFBRSxHQUNELEVBQUUsQ0FPRixFQUFFLENBQ0QsQ0FBQyxBQUFBLFdBQVcsQ0FBQztJQUNaLFNBQVMsRUFBRSxJQUFJLEdBQ2Y7O0FBTU4sQUFBQSx1QkFBdUIsQ0FBQztFQUN2QixPQUFPLEVBQUUsYUFBYTtFQUN0QixhQUFhLEVBQUUsQ0FBQztFQUNoQixhQUFhLEVBQUUsV0FBVztFQUMxQixRQUFRLEVBQUMsUUFBUSxHQU9qQjtFQVhELEFBTUMsdUJBTnNCLENBTXRCLENBQUMsQ0FBQztJQUNELFNBQVMsRUFBRSxJQUFJO0lBQ1osYUFBYSxFQUFFLEdBQUc7SUFDbEIsY0FBYyxFQUFFLEdBQUcsR0FDdEI7O0FBRUYsQUFBQSxnQkFBZ0IsQ0FBQTtFQUNmLFFBQVEsRUFBRSxLQUFLO0VBQ2YsR0FBRyxFQUFFLEdBQUc7RUFDUixPQUFPLEVBQUUsQ0FBQztFQUNWLE1BQU0sRUFBRSxjQUFjO0VBQ3RCLGFBQWEsRUFBRSxXQUFXLEdBYzFCO0VBbkJELEFBTUMsZ0JBTmUsQ0FNZixHQUFHLENBQUE7SUFDRixLQUFLLEVBQUUsS0FBSztJQUNaLE9BQU8sRUFBRSxjQUFjO0lBQ3ZCLFVBQVUsRUFBRSxjQUFjO0lBQzFCLFVBQVUsRUFBRSxPQUFPLEdBQ25CO0VBWEYsQUFZQyxnQkFaZSxDQVlmLHVCQUF1QixDQUFDO0lBQ3ZCLE1BQU0sRUFBRSxPQUFPO0lBQ2YsZ0JBQWdCLEVBQUMsSUFBSSxHQUNyQjtFQWZGLEFBZ0JDLGdCQWhCZSxDQWdCZixZQUFZLENBQUM7SUFDWixPQUFPLEVBQUUsSUFBSSxHQUNiOztBQUVGLEFBQUEsc0JBQXNCLENBQUE7RUFDckIsYUFBYSxFQUFFLElBQUksR0FDbkI7O0FBQ0QsQUFBQSxDQUFDLEFBQUEsV0FBVyxDQUFBO0VBQ1gsTUFBTSxFQUFFLElBQUk7RUFDVCxPQUFPLEVBQUUsS0FBSztFQUNkLE9BQU8sRUFBRSxLQUFLLEdBT2pCO0VBVkQsQUFJSSxDQUpILEFBQUEsV0FBVyxBQUlSLGVBQWdCLENBQUE7SUFDZixLQUFLLEVBQUUsSUFBSSxHQUNYO0VBTkwsQUFPSSxDQVBILEFBQUEsV0FBVyxBQU9SLE1BQU8sQ0FBQztJQUNQLEtBQUssRUFBRSxJQUFJLEdBQ1g7O0FBR0wsQUFBQSxZQUFZLENBQUM7RUFDWixRQUFRLEVBQUUsUUFBUTtFQUNsQixLQUFLLEVBQUUsSUFBSTtFQUNYLEdBQUcsRUFBRSxHQUFHO0VBQ1IsU0FBUyxFQUFFLGdCQUFnQjtFQUMzQixNQUFNLEVBQUUsT0FBTyxHQU1mO0VBWEQsQUFNQyxZQU5XLEFBTVgsUUFBUyxDQUFBO0lBQ1IsT0FBTyxFQUFFLE9BQU87SUFDaEIsV0FBVyxFQUFFLGlCQUFpQjtJQUM5QixXQUFXLEVBQUUsR0FBRyxHQUNoQjs7QUFFRixBQUVFLEVBRkEsQUFDRCxhQUFjLEFBQ2IsUUFBUyxDQUFBO0VBQ1IsS0FBSyxFQUFFLElBQUksR0FDWDs7QUFHSCxBQUFBLG1CQUFtQixDQUFBO0VBQ2xCLFFBQVEsRUFBRSxLQUFLO0VBQ2YsR0FBRyxFQUFFLEdBQUc7RUFDUixLQUFLLEVBQUUsaUJBQWlCO0VBQ3hCLFNBQVMsRUFBRSxJQUFJO0VBQ2YsT0FBTyxFQUFFLEtBQUs7RUFDZCxXQUFXLEVBQUUsSUFBSTtFQUNqQixVQUFVLEVBQUUsTUFBTTtFQUNsQixLQUFLLEVBQUUsSUFBSTtFQUNYLGdCQUFnQixFQUFDLElBQUk7RUFDckIsYUFBYSxFQUFFLEdBQUc7RUFDbEIsS0FBSyxFQUFFLElBQUk7RUFDWCxNQUFNLEVBQUUsT0FBTztFQUNmLE1BQU0sRUFBRSxjQUFjO0VBQ3RCLE9BQU8sRUFBRSxDQUFDLEdBS1Y7RUFuQkQsQUFlQyxtQkFma0IsQUFlbEIsTUFBTyxDQUFDO0lBQ1AsZ0JBQWdCLEVBQUMsT0FBTztJQUN4QixLQUFLLEVBQUUsSUFBSSxHQUNYOztBQUdGLEFBQUEsbUJBQW1CLENBQUE7RUFDbEIsS0FBSyxFQUFFLGlCQUFpQixHQUN4Qjs7QUFDRCxBQUFBLGdCQUFnQixDQUFBO0VBQ2YsS0FBSyxFQUFFLGlCQUFpQixHQUN4Qjs7QUFDRCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDckIsQUFBQSxtQkFBbUIsQ0FBQTtJQUNwQixLQUFLLEVBQUUsaUJBQWlCLEdBQ3hCO0VBQ0QsQUFBQSxnQkFBZ0IsQ0FBQTtJQUNmLEtBQUssRUFBRSxpQkFBaUIsR0FDeEI7O0FBRUYsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0VBQ3ZCLEFBQUEsbUJBQW1CLENBQUE7SUFDbEIsS0FBSyxFQUFFLGlCQUFpQixHQUN4QjtFQUNELEFBQUEsZ0JBQWdCLENBQUE7SUFDZixLQUFLLEVBQUUsaUJBQWlCLEdBQ3hCOztBQUdGLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN2QixBQUFBLG1CQUFtQixDQUFBO0lBQ2xCLEtBQUssRUFBRSxpQkFBaUIsR0FDeEI7RUFDRCxBQUFBLGdCQUFnQixDQUFBO0lBQ2YsS0FBSyxFQUFFLGlCQUFpQixHQUN4Qjs7QUFHRixNQUFNLEVBQUUsU0FBUyxFQUFFLE1BQU07RUFDeEIsQUFBQSxtQkFBbUIsQ0FBQTtJQUNsQixLQUFLLEVBQUUsaUJBQWlCLEdBQ3hCO0VBQ0QsQUFBQSxnQkFBZ0IsQ0FBQTtJQUNmLEtBQUssRUFBRSxpQkFBaUIsR0FDeEI7O0FBRUYsTUFBTSxFQUFFLFNBQVMsRUFBRSxNQUFNLE9BQU8sU0FBUyxFQUFFLE1BQU07RUFDaEQsQUFBQSxnQkFBZ0IsQ0FBQztJQUNiLEtBQUssRUFBRSxpQkFBaUIsR0FDM0I7RUFDRCxBQUFBLG1CQUFtQixDQUFDO0lBQ2hCLEtBQUssRUFBRSxpQkFBaUIsR0FDM0IifQ== */