.bg-bronze {
	background-color: #F2D7B6;
}

.bg-silver {
	background-color: #E3E2E2;
}

.bg-gold {
	background-color: #26262E;
}

.separate-divide {
	height: 4px;
	width: 70px;
	background: rgb(255,121,72);
	background: linear-gradient(270deg, rgba(255,121,72,1) 0%, rgba(255,215,135,1) 100%);
	border-radius: 2px;
}

.member-categories-section.member-list li {
	margin-bottom: 5px;
	border-radius: 5px;
	border-bottom: 0 !important;
}

.member-categories-section.member-list li.active {
	background: var(--color-hightlight);
}

.member-categories-section.member-list li>a {
	padding: 7.5px 5px;
	width: 100%;
	display: flex;
	align-items: center;
}

.member-categories-section li {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 6px;
	flex-direction: row;
}

.member-categories-section li i {
	padding-right: 5px;
	vertical-align: middle;
}

.member-categories-section li:last-child {
	margin-bottom: 0;
}

.member-categories-section .active > a,
.member-categories-section .active > span {
	color: var(--white);
}

.avatar-upload .avatar-edit {
	position: absolute;
	bottom: -1px;
	width: 100%;
	text-align: center;
	z-index: 9;
}

.avatar-upload .avatar-edit input {
	display: none;
}

.avatar-upload .avatar-edit input+label {
	margin-bottom: 0;
	background: var(--black);
	cursor: pointer;
	font-weight: normal;
	transition: all .2s ease-in-out;
	width: 100%;
	color: #fff;
	font-size: 12px;
}

.avatar-upload .avatar-edit input+label:hover {
	background: #5e5e5e;
}

.avatar-upload .avatar-preview>div {
	width: 89px;
	height: 89px;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
}

.avatar-upload .avatar-preview>div.wrap-preview {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.avatar-upload .avatar-clear-image {
	cursor: pointer;
	position: absolute;
	top: auto;
	right: -10px;
	bottom: -5px;
	width: 22px;
	height: 22px;
	line-height: 20px;
	border-radius: 50%;
	background-color: #ffffff;
	text-align: center;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.filter-member .input-group-text {
  /* border: 0; */
}

.filter-member .btn-submit {
	padding: 0 9px;
}

.table-member th i {
	font-size: 18px;
}

.bootstrap-select>.dropdown-toggle {
	background-color: white;
	border-color: #dee2e6;
}

.member-categories-section.member-list li>a svg, .member-categories-section.member-list li>a img {
	margin-right: 10px;
	flex: 0 0 22px;
}

.session-cart ul.member-categories-section:not(.member-list )>li svg {
	margin-left: 15px;
}

.color-gray {
	color: #707070;
}

.avatar-upload {
	display: inline-block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.btn-login-gg {
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}

.btn-login-gg img {
	height: 24px;
	width: 24px;
	margin-right: 7px;
}

.session-login .or:before {
	width: 100%;
	height: 1px;
	background: #dee2e6;
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 1;
}

.session-login .or span {
	z-index: 1;
}

.session-login .form-group input[type="text"],
.session-password .form-group input[type="text"],
.session-change .form-group input[type="text"],
.session-login .form-group input[type="password"],
.session-password .form-group input[type="password"],
.session-change .form-group input[type="password"] {
	padding-left: 45px;
    padding-right: 15px;
}

.session-login .bootstrap-select>.dropdown-toggle,
.session-password .bootstrap-select>.dropdown-toggle,
.session-change .bootstrap-select>.dropdown-toggle {
	padding: 12px 15px 11px;
}

.input-login .icon-input {
    position: absolute;
    top: 12px;
    left: 15px;
    height: 32px;
    display: flex;
    align-items: center;
}

.input-login img {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.input-login .show-btn {
	position: absolute;
	right: 15px;
    top: 16px;
    z-index: 99;
    cursor: pointer;
}

.btn-main {
	height: 46px;
	line-height: 46px;
	color: var(--white);
	border: 0;
	padding: 0;
}

.session-login .filter-option-inner-inner {
	color: var(--color-main);
}

.session-otp .input-opt input {
	padding: 0 !important;
	flex: 0 0 50px;
	max-width: 50px;
	height: 70px !important;
	border-radius: 16px;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	border: 1px solid var(--color-main);
}

.forgot-email {
	border: 1px solid var(--color-main);
}

.forgot-email .icon-input {
	background: var(--color-hightlight);
	border-radius: 50%;
	line-height: 40px;
	flex: 0 0 40px;
	max-width: 40px;
}

.forgot-email .icon-input img {
	width: 24px;
	height: 24px;
}

.forgot-email .icon-right img {
	width: 24px;
	height: 24px;
}

.pos-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.list-order-element .badge {
	min-width: 86px;
}

.history-point ul.nav li {
	text-align: center;
	color: rgba(0,0,0,0.8);
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	cursor: pointer;
}

.history-point ul.nav li a {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	border-bottom: 2px solid transparent;
}

.history-point ul.nav li a.active {
	color: var(--color-hightlight);
	border-bottom: 2px solid var(--color-hightlight);
}

.inner-buy-point input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.inner-buy-point .form-check-label {
	border: 1px solid var(--color-main);
	border-radius: 8px;
	padding: 10px 15px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.inner-buy-point input[type="radio"]:checked + .form-check-label {
	background: var(--color-hightlight);
	border-color: var(--color-hightlight);
	color: #fff;
}

.session-change .icon-left {
	background: var(--color-hightlight);
	border-radius: 50%;
	line-height: 40px;
	flex: 0 0 40px;
	max-width: 40px;
}

.entry-choose-verify input.form-check-input:checked ~ label.inner-verify {
	border-color: var(--color-hightlight) !important;
}

.entry-choose-verify label.inner-verify {
	cursor: pointer;
}

.entry-choose-verify .icon-right {
	display: none;
}

.entry-choose-verify .form-check-input {
	opacity: 0;
	visibility: hidden;
}

.entry-choose-verify input.form-check-input:checked ~ label.inner-verify .icon-right {
	display: inline-block;
}

.title-affiliate {
	border-radius: 5px 5px 0 0;
	padding: 8px 0 7px 30px;
}