:root {
    --color-hightlight: #00ADEF;
    --color-main: #00175D;
    --color-text: #333;
    --color-top: #B27E3D;
    --svg-hover: invert(55%) sepia(7%) saturate(4312%) hue-rotate(328deg) brightness(106%) contrast(102%);
    --svg-white: invert(1);
    
    --white: #fff;
    --black: #000;
    --red: #c33;
    --green: #390;
    --yellow: #ffb822;
    --light: #f5f5f5;
    --blue: #368FFF;
    --blue-light: #6098DE;
    --blue-black: #252984;
    --purple: #7145BE;
    --pink: #e83e8c;
    --indigo: #6610f2;
    --teal: #4AAEAE;
    --orange: #fd7e14;
    --cyan: #17a2b8;
    --gray: #6c757d;

    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}